* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
 }
.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(39, 127, 243, 0.945);
  position: relative;
}
.formulario__titulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__label, .formulario__submit {
  
  display: block;
  width: 100%;
  font-size: 1.3em;
  
  
}
.formulario__input {
    padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 40px;
}
.formulario__input:focus {
  outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus + .formulario__label{
  margin-top: -135px;
}
.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s;
}
.formulario__submit {
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.oscurecer {
  filter: brightness(30%);
}

.sobre {
  filter: brightness(110%);
  position:absolute;
  top:80px;
  left:250px;
  border:none;
 }
 .boton {
  filter: brightness(110%);
  position:absolute;
  top:350px;
  left:550px;
  border:none;
 }
 .sobre2 {
  filter: brightness(140%);
  position:absolute;
  top: 650px;0px;
  left:950px;
  border:none;
 }
 .sobre3 {
  filter: brightness(140%);
  position:absolute;
  top: 650px;0px;
  left:950px;
  border:none;
 }
 .brillo {
  filter: brightness(140%);
  
 }
 .sobre_habitaciones {
  filter: brightness(110%);
  position:absolute;
  top:210px;
  left:0px;
  border:none;
 }
 
 .red-input:focus {
  background: yellow;
  color: red;
}

.blue-input:focus {
  background: yellow;
  color: blue;
}


.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

